@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,200&display=swap");
:root {
  --whiteInterface: #ffffff;

  --colorLinks: #333e48;
  --grayInterface: #f2f2f2;
  --gray2Interface: #e3e3e3;
  --gray3Interface: #d6d6d6;
  --gray4Interface: #bfbfbf;
  --gray5Interface: #707070;
  --gray6Interface: #cfcfcf;
  --gray7Interface: #cccccc;

  --oldPriceColor: #9a9696;

  --cardTextColor: #4a4a4a;
  --cardPrice: #262425;

  --pinkInterface: #ffd6d6;

  --blackInterface: #000000;
  --black2Interface: #00000029;

  --discountColor: #dc0b13;

  --blueInterface: #00abea;

  --errorInterface: #ff3434;
  --successInterface: #26b26c;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
}

#root {
  height: 100%;
  width: 100%;
}
