@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
:root {
  --whiteInterface: #ffffff;

  --colorLinks: #333e48;
  --grayInterface: #f2f2f2;
  --gray2Interface: #e3e3e3;
  --gray3Interface: #d6d6d6;
  --gray4Interface: #bfbfbf;
  --gray5Interface: #707070;
  --gray6Interface: #cfcfcf;
  --gray7Interface: #cccccc;

  --pinkInterface: #ffd6d6;

  --blackInterface: #000000;
  --black2Interface: #00000029;

  --blueInterface: #00abea;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
  width: 100%;
}
